@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;


font-family: 'Roboto', sans-serif;  
font-weight: lighter;
 background-image: url("background.jpg");
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

 
 

}
img{
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;          /* Firefox */
	image-rendering: -o-crisp-edges;            /* Opera */
	image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
	-ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
		width:100%;
		background-color: white;
	 
}


	.polaroid {
		background-color: white;
		box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 5.2), 0 6px 20px 0 rgba(0, 0, 0, 4.19);
		margin: 25px;
		padding: 1%;
	  }




.restaurant {
  text-align: center;
  padding: 10px 20px;
}

.name{
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
}

.rating_star{
	width: 10;
	height: 10;
}



.yes:hover{
	fill: green;
}

.next:hover{
	fill: red;
}


/*MOBILE*/


@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
	.polaroid{
		width: 70%;
		font-size: 100%;
	}

	.yes, .next {
		width: 40;
		height: 40;
	}
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
	.polaroid{
		width: 50%;
		font-size: 100%;
	}

	.yes, .next {
		width: 30;
		height: 30;
	}
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	.polaroid{
		width: 40%;
		font-size: 100%;
	}

	.yes, .next {
		width: 30;
		height: 30;
	}
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
	.polaroid{
		width: 35%;
		font-size: 100%;
	}

	.yes, .next {
		width: 30;
		height: 30;
	}
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
	.polaroid{
		width: 30%;
		font-size: 100%;
	}

	.yes, .next {
		width: 30;
		height: 30;
	}
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
	.polaroid{
		width: 25%;
		font-size: 100%;
	}

	.yes, .next {
		width: 30;
		height: 30;
	}
}